{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
 <h1>Le jardinage est l'un des loisirs préférés de plusieur personnes</h1>
    <p>Alliant nature, activité utile et détente mentale, le jardinage est un plaisir complet. Cependant, il est essentiel de connaître les bases pour se lancer et réussir son jardin.</p>
    <p>Ce site va vous aider, en toute indépendance et avec des mots simples, à mieux comprendre pour bien choisir...</p>

    <img src="votre-image.jpg" alt="Image de jardinage" width="400" height="300">

{% endblock %}
