		<div class="accordion-item">
					<h2 class="accordion-header" id="panelsStayOpen-headingThree">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
							Besoin eau
						</button>
					</h2>
					<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
						<div class="accordion-body">

							{% for choice, value in form.besoinEau %}
								<div class="custom-radio">
									{{ form_widget(value, { 'attr': {'class': 'custom-control-input'} }) }}
									<label class="custom-control-label" for="{{ value.vars.id }}">{{ value.vars.value }}</label>
								</div>
							{% endfor %}

						</div>
					</div>
				</div>