{% extends "base.html.twig" %}

{% block body %}

	<main>
			<!-- Menu de recherche -->
			<section class="filtres">
				<h3 >Filtres</h3>
				<button class="btn-trier">Trier par prix croissant</button>
				<br>
				
			</section>

			<!-- Fiches produits -->
			<section class="fiches">
            <article><img src="">ffff</article>
	
			</section>
		</main>
</form>
{% endblock %}