/*css de la page trouver_plante*/
.filtres {
  padding-top: 1rem !important;
}

.plante {

  padding-top: 1rem !important;

}

.px-xl-5 {

  padding-left: 0rem !important;
}

/*button add to cart*/



.btnPrice {


  position: relative;
  top: 12px;

}

.btnAddCart {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  color: #5cb874;
  background: none;
  outline: none;
  border: 1px solid #5cb874;
  border-radius: 20px;
  overflow: hidden;
  background: none;
  outline: none;
  border: 1px solid #5cb874;
  border-radius: 20px;
  overflow: hidden;
  width: 187px;
  height: 37px;
  margin-top: 7%;

  }
  




/*carte css*/
.cardcontainer {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
  height: 100%;
  width: 100%;
}

.cardcontainer:hover {
  box-shadow: 0 0 45px gray;
}

.photo {
  height: 300px;
  width: 100%;
}

.photo img {
  height: 100%;
  width: 100%;
}

.txt1 {
  margin: auto;
  text-align: center;
  font-size: 17px;
}

.content {
  width: 80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -33px;
}

.nomPlante {
  width: 90px;
  height: 30px;
  background-color: #5CB874;
  color: white;
  position: relative;
  top: -30px;
  padding-left: 10px;
  font-size: 20px;
}

.txt4 {
  font-size: 15px;
  position: relative;
  top: 37px;
}

.txt5 {
  position: relative;
  top: 18px;
  color: #E74C3C;
  font-size: 23px;
}

.txt2 {

  position: relative;
  top: 10px;
}

.cardcontainer:hover>.photo {
  height: 200px;
  animation: move1 0.5s ease both;
}

@keyframes move1 {
  0% {
    height: 300px
  }

  100% {
    height: 250px
  }
}

.cardcontainer:hover>.content {
  height: 160px;
}

.footer {
  width: 80%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  position: relative;
  top: -15px;
}

.btn {
  position: relative;
  top: 20px;
}

#heart {
  cursor: pointer;
}

.like {
  float: right;
  font-size: 22px;
  position: relative;
  top: 14px;
  color: #333333;
}

.fa-gratipay {
  margin-right: 10px;
  transition: 0.5s;
}

/* like actif */
.fa-gratipay-like {
  color: #E74C3C;
}

.fa-gratipay:hover {
  color: #E74C3C;
}

.txt3 {
  color: gray;
  position: relative;
  top: 18px;
  font-size: 14px;
}

.comments {
  float: right;
  cursor: pointer;
}

.fa-clock,
.fa-comments {
  margin-right: 7px;
}


  .paginationPlante {
    display: inline-block;
  }
  
  .paginationPlante span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }

  .current{
    background-color: #4CAF50;
    color: white;
  }
  
  .paginationPlante span:hover:not(.current) {background-color: #ddd;}

  .paginationPlante span {
    border-radius: 5px;
  }
  
  .current {
    border-radius: 5px;
  }